name: flutter_app
description: A new Flutter application.

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  english_words: ^3.1.0
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  dio: ^1.0.3
  flutter_swiper: ^1.1.6
  url_launcher: ^5.5.2
  flutter_screenutil: ^4.0.2+2

  scoped_model: ^0.3.0
  groovin_material_icons: ^1.1.5
  fluttertoast: ^3.0.3
  rxdart: ^0.19.0
  http: ^0.12.0
  nima: ^1.0.0
  path_drawing: ^0.4.0
  video_player: ^1.0.1
  chewie: ^0.12.0
  webview_flutter: ^0.3.3+1
  sqflite: ^1.1.3
  shared_preferences: ^0.5.3+4
  path_provider: ^1.6.14
  mapbox_search: ^2.0.1
  flutter_picker: ^1.1.5
  share: '>=0.6.5+1 <2.0.0'
  social_share_plugin: ^0.3.1
  flutter_appavailability: ^0.0.21
  address_picker: ^0.0.1
  image_gallery_saver: ^1.6.7
  permission_handler: ^5.0.1+1

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true


  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  assets:
    - images/

    - lib/locale/i18n_en.json
    - lib/locale/i18n_zh.json
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
